@font-face {
    font-family: 'Instrument-Serif';
    src: url('../assets/fonts/InstrumentSerif-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument-Serif';
    src: url('../assets/fonts/InstrumentSerif-Italic.ttf');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist-Italic-VariableFont_wght.ttf');
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --primary: #3f7d5a;
    --primary-dark: #295b40;
    --accent: #fcc773;
    --lower-contrast: #bcbcbc;
}